{% extends 'base.html' %}
{% load meus_filtros %}
{% block title%}Gerenciador - entre ou cadastra-se{% endblock%}

{% block conteudo %}
    <form method="post">
        {% csrf_token %}
        {% for message in messages %}
            <div class="alert alert-danger">
                {{message}}
            </div>
        {% endfor %}
        <div class="form-group">
            {{form_user.username.erros}}
            <label style="font-weight: bold; text-transform: uppercase; font-size: 1.2em;">NOME DE USUÁRIO: </label>
            {{form_login.username | addClass:'form-control'}}
        </div>

        <div class="form-group">
            {{form_user.password1.erros}}
            <label style="font-weight: bold; text-transform: uppercase; font-size: 1.2em;">DIGITE SUA SENHA: </label>
            {{form_login.password | addClass:'form-control'}}
        </div>

        <div class="form-group">
                <button type="submit" class="btn btn-info">Login</button>
                <a href="{% url 'cadastrar_usuario' %}" class="btn btn-dark">Cadastre-se</a>
            </div>
        </div>

    </form>
{% endblock conteudo %}