{% extends 'base.html' %}
{% block styles %}
    <style>
        .card {
            margin-bottom: 20px;
            border: none;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        }

        .card-header {
            background-color: #4267B2;
            color: #fff;
            font-weight: bold;
        }

        .card-body {
            padding: 20px;
        }

        .card-title {
            font-size: 24px;
            font-weight: bold;
            margin-bottom: 10px;
        }

        .card-body p {
            margin-bottom: 0;
        }

        .btn-danger {
            background-color: #e74a3b;
            border-color: #e74a3b;
        }

        .btn-danger:hover {
            background-color: #c0392b;
            border-color: #c0392b;
        }
    </style>
{% endblock styles %}

{% block conteudo %}
    <div class="card mb-3">
        <div class="card-header">
            Remover tarefa?
        </div>
        <div class="card-body">
            <h5 class="card-title">{{ tarefa.titulo }}</h5>
            <p class="card-body">{{ tarefa.descricao }}</p>
        </div>
        <form method="POST">
            {% csrf_token %}
            <button class="btn btn-danger" type="submit">Remover</button>
        </form>
    </div>
{% endblock conteudo %}
