<!DOCTYPE html>

{% load static %}

<html lang="pt-br">

    <head>
        <meta charset="UTF-8">
        <title>Gerenciador de Tarefas</title>
        <link rel="stylesheet" type="text/css" href="{% static 'bootstrap.min.css' %}">
    </head>

    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="#">Gerenciador de Tarefas</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li>
                        <a class="nav-link" href="{% url 'listar_tarefas'%}" >Listar Tarefas</a>
                    </li>
                    <li>
                        <a class="nav-link" href="{% url 'logout'%}" >Sair</a>
                    </li>
                </ul>
          </div>
        </nav>

        <div class="container">
            {% block conteudo %}
            {% endblock conteudo %}
        </div>
    </body>

</html>